<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <!-- Estilizações -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style/style.css">
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="js.src/validate.js"></script>
    <script src="js.src/inputMask.js"></script>
    <script src="js.src/mascaraTelefone.js"></script>
</head>

<body>
    <main>
        <div class="container-fluid">
            <div class="row">
                <!-- Logo -->
                <div class="logo col">
                    <img src="img/logo/Logo%20final2.png" alt="">
                </div>

                <!-- Login -->
                <div class="col">
                    <label class="sr-only" for="username">Usuário</label>
                    <input type="text" name="username" class="form-control mb-2" id="username" placeholder="Usuário">
                    <a href="" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
                        Esqueci minha senha
                    </a>
                </div>
                <div class="col">
                    <label class="sr-only" for="password">Senha</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Senha">
                    <a href="cadastro.html">Clique aqui para se cadastrar</a>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-dark text-white login mb-2">Enviar</button>
                </div>
            </div>

            
            <!-- Menu de navegação -->
            <div class="row mt-5">
                <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top shadow bg-white rounded w-100">
                    <a class="navbar-brand" href="index.html">HOME</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false"
                        aria-label="Alterna navegação">
                        <span class="navbar-toggler-icon"></span>
                    </button>
        
                    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    PRODUTOS
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="canecas.html">CANECAS</a>
                                    <a class="dropdown-item" href="outros.html">CHINELOS</a>
                                    <a class="dropdown-item" href="outros.html">CAMISAS</a>
                                    <a class="dropdown-item" href="outros.html">BOLSAS</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="outros.html">OUTROS</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pedidos.html">LOJA DE PEDIDOS</a>
                            </li>
        
                            <li class="nav-item">
                                <a class="nav-link ml-3" href="quemsomos.html">QUEM SOMOS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link ml-3" href="contato.html">CONTATO</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div class="container">
            <div class="row conteudo mt-5" id="conteudo">
                <!-- conteudo da pagina de contato -->
                <div id="localizacao" class="col-md-6">
                    <!-- título -->
                    <div id="titulo1">
                        <h2>Localização</h2>
                    </div>
                    <!-- fim do título -->

                    <hr class="linha cor-botao">

                    <!-- texto da localização com mapa aqui -->
                    <div class="card-deck">
                        <div class="card mt-4">
                            <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14714.540468167641!2d-43.423035569927364!3d-22.778918711230254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x996690c0083bc1%3A0x50d17b4be476756e!2sBanco+de+Areia%2C+Mesquita+-+RJ!5e0!3m2!1spt-BR!2sbr!4v1539990818009"
                                width="100%" height="350" frameborder="0" allowfullscreen></iframe>
                            <div class="card-body">
                                <h5 class="card-title">Sede Juana Personalizações</h5>
                                <p class="card-text">Nossa sede fica situada no bairro Banco de Areia em Mesquita-RJ.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- quadro do contato -->
                <div id="contato" class="contato col-md-6">
                    <div id="titulo2">
                        <h2>Contatos</h2>
                    </div>

                    <hr class="linha cor-botao">

                    <!-- conteudo das três divs de contato -->
                    <div class="card-deck mt-5">
                        <div class="card">
                            <div class="text-center">
                                <a href="https://wa.me/5521993223339?text=Ol%C3%A1%2C+gostaria+de+saber+mais+sobre+a+Juana+Personaliza%C3%A7%C3%B5es">
                                    <img class="card-img-top mt-3 w-50" src="img/social/128/WhatsApp.png" alt="Imagem de capa do card">
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">WhatsApp</h5>
                            </div>
                        </div>

                        <div class="card">
                            <div class="text-center">
                                <a href="https://web.telegram.org/#/im?p=u777000_4041729175755639182"> 
                                    <img class="card-img-top mt-3 w-50" src="img/social/128/telegram.png" alt="Imagem de capa do card">
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Telegram</h5>
                            </div>
                        </div>

                        <div class="card">
                            <div class="text-center">
                                <a href="https://www.facebook.com/juanapersonalizacoes/">
                                    <img class="card-img-top mt-3 w-50" src="img/social/128/Faceb.png" alt="Imagem de capa do card">
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Facebook</h5>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </main>
    
    <!-- Rodapé -->
    <footer class="cor-botao p-4" >
        <div class="text-center text-white">
            <p>Banco de Areia, Mesquita - RJ, 26564-000</p>
            <p>Copyright © 2018 - Todos os direitos reservados.</p> 
        </div>   
        <div class="botao btn btn bg-white p-0">
            <a href="https://www.facebook.com/juanapersonalizacoes/?ref=settings"><img src="img/social/facebook.png" alt="" ></a>
        </div>
        <div class="btn btn bg-white p-0">
            <a href="https://web.telegram.org/#/im?p=u777000_4041729175755639182"><img src="img/social/telegram.png" alt=""></a>
        </div>
    </footer>

    <script src="js.src/login.js"></script>
</body>

</html>